{% trans url=resolve_front_url("project", membership.project.slug), full_name=membership.user.get_full_name(), project=membership.project %}
You have been added to a circle
Hello {{ full_name }},you have been added to the circle {{ project }}

See circle at {{ url }}
{% endtrans %}
