{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject %}
Story deleted
Hello {{ user }}, {{ changer }} has deleted a user story on {{ project }}
Story #{{ ref }} {{ subject }}

---
Threefold Team
{% endtrans %}
